somiod/Utils/XMLandXSD/Subscription/subscription.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="subscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="creation_dt" type="xs:string" minOccurs="0"/>
        <xs:element name="moduleID" type="xs:unsignedByte" minOccurs="0" />
        <xs:element name="event" type="xs:string" />
        <xs:element name="endpoint" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>