somiod/Utils/XMLandXSD/Subscription/subscription.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="subscription">
    <xs:complexType>
      <xs:all>
        <xs:element name="id" type="xs:unsignedByte" minOccurs="0" />
		<xs:element name="name" minOccurs="1">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
        <xs:element name="creation_dt" type="xs:string" minOccurs="0"/>
        <xs:element name="moduleID" type="xs:unsignedByte" minOccurs="0" />
		<xs:element name="eventType" minOccurs="1">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="endpoint" minOccurs="1">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>